*.pyc
.idea
model/__pycache__/*
model/*.pyc
.venv
.catkin_workspace
build/
devel/
src/
Result/
all_archive backup_211101/
backup/
backup_1/
backup_211102_20Humans/
backup_erase/
catkin_ws/
log/
all archive backup_211101
policy/
worlds/circle - (copy).world
.vscode/launch.json

models_ppo.py
ppo.py
save/
etc/

other refer codes/