*.pyc
.idea
model/__pycache__/*
model/*.pyc
.venv
.catkin_workspace
build/
devel/
src/
Result/
all_archive backup_211101/
backup/
backup_1/
backup_211102_20Humans/
backup_erase/
catkin_ws/
log/
all archive backup_211101
policy/
worlds/circle - (copy).world
.vscode/launch.json


save/
etc/
Python-RVO2/

other refer codes/
PPO/hostfile
PPO/file.log
PPO/last_v_r.pickle
file.log
PPO/envs/utils.py
PPO/envs/human.py
PPO/envs/env_crowd.py
PPO/envs/agent.py
.gitignore
PPO/dbscan/sample/result.png
PPO/dbscan/README.md
PPO/dbscan/dbscan_sklean.py
PPO/dbscan/sample/sample.mat
PPO/test.py
PPO/PPO_continuous.py
PPO/PPO_discrete.py
PPO/model/convlstm2d_new.py
